* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.form {
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  margin-left: auto;
  border: 1px solid #000;
  padding: 20px;
}
.form__text {
  width: 100%;
  min-height: 100px;
  resize: none;
}
.json {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 65%;
  height: 100vh;
  margin: 20px;
  border: 1px solid black !important;
}
.message {
  text-align: center;
}
